.controls-container > * {
    margin: 16px 16px;
    margin-inline: 16px; /* Apply margin-inline to all direct children */
}

.text-input {
    border-radius: 16px;
    font-size: 2rem;
    margin: 6px;
}

.font-size-text {
    pointer-events: none; /* Disable all pointer events */
}

.text-input::placeholder, .text-input {
    text-align: center; /* Centers the placeholder text */
}

.font-family-container, .color-picker {
    margin: 0 auto;
    align-self: center;
}

.controls-container{ 
    width: 90%;
    height: 90%;
    max-width: 400px;
    max-height: 485px;
    place-self: center;
}

.controls-container button {
    background-color: var(--header-color);
    color: white;
    border-radius: 16px;
    width: 48px;
    height: 48px;
    place-self: center;
    cursor: pointer;
}

/* Style for text containers */
.text-container {
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    z-index: 10; /* Ensure it appears above the canvas */
    pointer-events: none; /* Prevent interaction */
}

/* Highlight the active text container */
.text-container.active {
    border-color: blue;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}