.controls-container > * {
    margin: 16px 16px;
    margin-inline: 16px; /* Apply margin-inline to all direct children */
}

.text-input {
    border-radius: 16px;
    font-size: 2rem;
}

.font-size-text {
    pointer-events: none; /* Disable all pointer events */
}

.text-input::placeholder, .text-input {
    text-align: center; /* Centers the placeholder text */
}

.font-family-container, .color-picker {
    margin: 0 auto;
    align-self: center;
}

.controls-container{ 
    width: 80%;
    height: 90%;
    place-self: center;
}

.controls-container button {
    background-color: var(--header-color);
    color: white;
    border-radius: 16px;
    width: 48px;
    height: 48px;
    place-self: center;
    cursor: pointer;
}
