.controls-container > * {
    margin: 16px 16px;
    margin-inline: 16px; /* Apply margin-inline to all direct children */
}

.text-input {
    border-radius: 16px;
}


.font-size-text {
    pointer-events: none; /* Disable all pointer events */
}
