/* flex helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

/* list helpers */

.clean-list {
    /* margin: 0;
    padding: 0; */
    list-style-type: none;
}

/* gap helpers */

.gap {
    gap: var(--gap-size);
}

/* hidden helpers */
.hidden {
    pointer-events: none;
    opacity: 0;
    display: none;
}

.active {
    pointer-events: all;
    opacity: 1;
}